.prestation-name, .prestation-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prestation-name {
  font-weight: bold;
}

.prestation-name, .prestation-check, .prestation-line summary {
  cursor: pointer;
}

.prestation-check, .prestation-name {
  margin-left: 1em;
}
