<div class="employee-management-container">
  <div class="employee-selection-container" [class.horizontal-slider-first]="!isBigScreen()" [class.swiped]="swipeDone">
    <div app-search-bar class="employee-search-bar" placeHolder="{{ 'employee-management.employee-selection.search-employee' | translate }}"
         (inputText)="searchText($event)">
    </div>
    <ul class="employee-found-container">
      <li class="padding"></li>
      <li app-information-ticket *ngFor="let employee of allEmployees" class="basic-clickable employee-ticket-information"
          (click)="selectEmployee(employee)"
          [title]="employee.lastName + ' ' + employee.firstName"
          [subTitle]="employee.email"
          img="/assets/images/kraken.jpg">
      </li>
    </ul>
    <button class="create-employee-button floating-button" (click)="goToEmployeeCreation()">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <div class="employee-right-container" [class.horizontal-slider-second]="!isBigScreen()"
       [class.swiped]="swipeDone">
    <div class="employee-information-container" *ngIf="!employeeCreation && selectedEmployee != null">
      <div class="employee-information-header floating-card">
        <div class="back-arrow basic-clickable" (click)="backToEmployeeSelection()">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
        <div class="employee-account-title-container">
          <div class="employee-title-info">
            <h4>{{selectedEmployee?.lastName + ' ' + selectedEmployee?.firstName}}</h4>
            <h5>{{selectedEmployee?.email}}</h5>
          </div>
          <div class="employee-avatar-container">
            <img class="employee-avatar" src="/assets/images/kraken.jpg" alt="employee avatar">
          </div>
        </div>
      </div>
      <details class="floating-card">
        <summary>
          <h3 class="employee-information-title">{{ 'employee-management.employee-information.employee-information-title' | translate}}</h3>
        </summary>
        <div app-employee-information-updater class="employee-update-information" [employeeId]="selectedEmployee.id"></div>
      </details>
    </div>
    <div class="employee-creation-container" *ngIf="employeeCreation">
      <div class="employee-creation-header floating-card">
        <div class="back-arrow basic-clickable" (click)="backToEmployeeSelection()">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
        <h3 class="employee-creation-title">{{ 'employee-management.employee-creation.employee-creation-title' | translate }}</h3>
      </div>
      <div app-employee-creator class="employee-creation-form-container floating-card" (creationSuccess)="employeeCreationDone($event)"></div>
    </div>
  </div>
</div>
