<form class="establishment-creation-form" [formGroup]="establishmentCreationForm" (ngSubmit)="onEstablishmentCreation()">
  <div class="form-group-error" *ngIf="creationFailed">
    <p>{{ 'establishment.creation.creation-failed' | translate}}</p>
  </div>
  <div app-establishment-form-content
       [establishmentFormGroup]="establishmentCreationForm">
  </div>
  <div class="form-submit-group need-top-space">
    <button class="super-valid-button establishment-creation-button need-top-space" type="submit" [disabled]="this.establishmentCreationForm.invalid">
      {{ 'establishment.creation.create' | translate }}
    </button>
  </div>
</form>
