<div class="establishment-equipment-information-container" *ngIf="establishmentEquipment">
  <div class="establishment-information-card floating-card">
    <i class="go-back-arrow fa-solid fa-arrow-left" (click)="wantGoBack.emit(true)"></i>
    <div class="img-square-container">
      <img class="establishment-equipment-img"
           [src]="establishmentEquipment.equipment.photo ? establishmentEquipment.equipment.photo : '/assets/images/kraken.jpg'"
           alt="Establishment equipment photo">
    </div>
    <div class="establishment-equipment-information need-top-space">
      <h3>
        {{establishmentEquipment.equipment.name}}
      </h3>
      <p>
        {{establishmentEquipment.equipment.description}}
      </p>
      <form *ngIf="updateEquipmentForm"
            class="form-group"
            [formGroup]="updateEquipmentForm"
            (ngSubmit)="onUpdate()">
        <div app-basic-input-form
             [group]="updateEquipmentForm"
             controlName="quantity"
             inputType="number"
             placeHolder="1"
             label="{{ 'establishment.management.equipment.quantity' | translate }}"
             labelFor="quantity">
        </div>
        <div app-basic-input-form
             style="color: red"
             [group]="updateEquipmentForm"
             controlName="numberUnusable"
             inputType="number"
             placeHolder="0"
             label="{{ 'establishment.management.equipment.unusable' | translate }}"
             labelFor="number-unusable">
        </div>
        <div class="form-submit-group">
          <button class="super-valid-button need-top-space" type="submit"
                  [disabled]="updateEquipmentForm.invalid || !privilegeManagement.hasEstablishmentEquipmentUpdate(establishmentId)">
            {{ 'update' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div app-floating-card-button class="need-top-space"
       *ngIf="privilegeManagement.hasEstablishmentEquipmentDelete(establishmentId)"
       text="{{ 'establishment.management.equipment.delete' | translate }}"
       [textFontWeight]="'bold'"
       [textColor]="'red'"
       [textSize]="'1em'"
       (buttonClick)="deleteEstablishmentEquipment()">
  </div>
</div>
