<div class="vertical-container" *ngIf="establishmentEquipment">
  <div class="establishment-information-card floating-card">
    <i class="go-back-arrow fa-solid fa-arrow-left" (click)="wantGoBack.emit(true)"></i>
    <h3>
      {{establishmentEquipment.name}}
    </h3>
    <div app-square-image
         class="establishment-equipment-img"
         [sideSize]="75"
         [img]="establishmentEquipment.photo ? establishmentEquipment.photo : '/assets/images/kraken.jpg'"
         [round]="true"
         border="2px solid var(--primary-light-1)">
    </div>
    <div class="establishment-equipment-information need-top-space">
      <form *ngIf="updateEquipmentForm"
            [formGroup]="updateEquipmentForm"
            (ngSubmit)="onUpdate()">
        <div app-basic-input-form
             [group]="updateEquipmentForm"
             controlName="name"
             inputType="text"
             placeHolder="{{ 'establishment.management.equipment.name' | translate }}"
             label="{{ 'establishment.management.equipment.name' | translate }}"
             labelFor="name">
        </div>
        <div class="form-control">
          <label for="available">
            {{ 'establishment.management.equipment.available' | translate }}
          </label>
          <input id="available" name="available" formControlName="available" type="checkbox">
        </div>
        <div class="form-submit-group">
          <button class="super-valid-button need-top-space" type="submit"
                  [disabled]="updateEquipmentForm.invalid || !privilegeManagement.hasEstablishmentEquipmentUpdate(establishmentId)">
            {{ 'update' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div app-floating-card-button class="need-top-space"
       *ngIf="privilegeManagement.hasEstablishmentEquipmentDelete(establishmentId)"
       text="{{ 'establishment.management.equipment.delete' | translate }}"
       [textFontWeight]="'bold'"
       [textColor]="'red'"
       [textSize]="'1em'"
       (buttonClick)="deleteEstablishmentEquipment()">
  </div>
</div>
