<div app-searching-list class="role-searching-list-container"
     [allElements]="allRoles"
     searchBarPlaceHolder="{{ 'role.search' | translate }}"
     [listPaddingHeight]="'var(--company-management-floating-button-size)'"
     [paneInfoTransformer]="rolePaneInfoTransformer"
     (elementSelected)="navigateToRoleInformation($event)"
     (searchFilter)="filterRole($event)">
</div>
<button class="floating-button create-role-button"
        *ngIf="privilegeManagement.hasRoleCreate()"
        (click)="navigateToCreateRole()">
  <i class="fa-solid fa-plus"></i>
</button>

