<form class="employee-update-form" [formGroup]="employeeUpdateForm" *ngIf="employeeUpdateForm != null" (ngSubmit)="onUpdate()">
  <div class="update-fail-container form-group-error" *ngIf="updateFail">
    <p>{{ 'employee.update.update-failed' | translate }}</p>
  </div>
  <div app-employee-form-content class="need-top-space"
       [employeeFormGroup]="employeeUpdateForm">
  </div>
  <div class="form-submit-group">
    <button class="super-valid-button employee-creation-button need-top-space" [disabled]="employeeUpdateForm.invalid"
            type="submit">{{ 'employee.update.update' | translate }}</button>
  </div>
</form>
