.horizontal-side-left, .horizontal-side-right {
  position: absolute;

  top: 0;

  width: 100%;
  height: 100%;

  transition: 0.7s;
}

.horizontal-side-left {
  left: 0;
}

.horizontal-side-left.swiped {
  left: -100%;
}

.horizontal-side-right {
  left: 100%;
}

.horizontal-side-right.swiped {
  left: 0;
}

@media only screen and (min-width: 1280px) {
  .horizontal-side-left, .horizontal-side-right {
    position: absolute;
    top: 0;
  }

  .horizontal-side-left {
    left: 0;
    width: 400px;
  }

  .horizontal-side-right {
    left: 400px;
    width: calc(100% - 400px);
  }
}
