.privilege-input-container {
  display: grid;
  grid-template-columns: 3fr 5fr 17fr;
  align-items: center;
  gap: 1em;
}

.privilege-label, .privilege-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.privilege-label {
  font-weight: bold;
}
