<form class="establishment-update-form" [formGroup]="establishmentUpdateForm" *ngIf="establishmentUpdateForm != null" (ngSubmit)="onUpdate()">
  <div class="form-group-error" *ngIf="updateFailed">
    <p>{{ 'establishment.update.update.failed' | translate }}</p>
  </div>
  <div app-establishment-form-content
       [establishmentFormGroup]="establishmentUpdateForm"
       [displayExceptionalClose]="true"
       [allDisabled]="allDisabled">
  </div>
  <div class="form-submit-group need-top-space">
    <button class="super-valid-button establishment-update-button need-top-space"
            [disabled]="this.establishmentUpdateForm.invalid || allDisabled"
            type="submit">{{ 'establishment.update.update' | translate }}</button>
  </div>
</form>

