<div [formGroup]="equipmentFormGroup">
  <div app-basic-input-form
       [group]="equipmentFormGroup"
       [controlName]="'name'"
       label="{{ 'equipment.name' | translate }}"
       [labelFor]="'equipment-name'"
       [inputType]="'text'"
       placeHolder="{{ 'equipment.name' | translate }}">
  </div>
  <div app-basic-input-form
       [group]="equipmentFormGroup"
       [controlName]="'description'"
       label="{{ 'equipment.description' | translate }}"
       [labelFor]="'equipment-description'"
       [inputType]="'text'"
       placeHolder="{{ 'equipment.description' | translate }}">
  </div>
</div>
