<div [formGroup]="establishmentFormGroup">
  <div class="form-control">
    <label class="form-label" for="name">{{ 'establishment.name' | translate }}</label>
    <input class="form-input" name="name" id="name" formControlName="name" type="text"
           placeholder="{{ 'establishment.name' | translate }}"/>
  </div>
  <div class="form-control">
    <label class="form-label" for="description">{{ 'establishment.description' | translate }}</label>
    <input class="form-input" name="description" id="description" formControlName="description" type="text"
           placeholder="{{ 'establishment.description' | translate }}"/>
  </div>
  <div class="form-group" formGroupName="address">
    <h3>{{ 'establishment.address.title' | translate }}</h3>
    <div class="form-control">
      <label class="form-label" for="street">{{ 'establishment.address.street' | translate }}</label>
      <input class="form-input" name="street" id="street" formControlName="street" type="text"
             placeholder="{{ 'establishment.address.street' | translate }}"/>
    </div>
    <div class="form-control">
      <label class="form-label" for="zipCode">{{ 'establishment.address.zipCode' | translate }}</label>
      <input class="form-input" name="zipCode" id="zipCode" formControlName="zipCode" type="number"
             placeholder="{{ 'establishment.address.zipCode' | translate }}"/>
    </div>
    <div class="form-control">
      <label class="form-label" for="city">{{ 'establishment.address.city' | translate }}</label>
      <input class="form-input" name="city" id="city" formControlName="city" type="text"
             placeholder="{{ 'establishment.address.city' | translate }}"/>
    </div>
    <div class="form-control">
      <label class="form-label" for="country">{{ 'establishment.address.country' | translate }}</label>
      <input class="form-input" name="country" id="country" formControlName="country" type="text"
             placeholder="{{ 'establishment.address.country' | translate }}"/>
    </div>
  </div>
  <div class="form-group" [formGroup]="establishmentFormGroup.openingHours">
    <h3>{{ 'establishment.hours.opening-hours' | translate }}</h3>
    <div app-day-hours-form
         class="form-group"
         *ngFor="let day of establishmentFormGroup.openingHours.allDays"
         [day]="day"
         [allDisabled]="allDisabled">
    </div>
  </div>
  <div *ngIf="displayExceptionalClose">
    <div class="form-group" formArrayName="exceptionalOpening">
      <h4>{{ 'establishment.exceptional-opening.title' | translate }}</h4>
      <div class="form-group" *ngFor="let exceptionalOpening of establishmentFormGroup.exceptionOpeningsControls; let i = index" [formGroupName]="i">
        <div class="exceptional-date-container">
          <label class="form-label" for="exceptional-opening-date-{{i}}">Date</label>
          <input class="form-input" type="date" name="exceptional-opening-date-{{i}}" id="exceptional-opening-date-{{i}}" formControlName="date">
          <button class="danger-button remove-button" type="button" (click)="establishmentFormGroup.removeExceptionalOpening(i)"
                  *ngIf="establishmentFormGroup.exceptionalOpenings.length > 0"
                  [disabled]="allDisabled">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="time-intervals-containers need-top-space" formArrayName="timeIntervals">
          <div app-time-interval-form
               class="need-top-space"
               [prefix]="'exceptional-opening'"
               [index]="j"
               [timeIntervalFormGroup]="timeInterval"
               (remove)="establishmentFormGroup.removeTimeIntervalForm(exceptionalOpening, j)"
               [disableRemoveButton]="allDisabled"
               *ngFor="let timeInterval of establishmentFormGroup.getTimeIntervalFormControls(exceptionalOpening); let j =index">
          </div>
        </div>
        <div class="add-remove-buttons-container need-top-space">
          <button class="valid-button" type="button" [disabled]="allDisabled"
                  (click)="establishmentFormGroup.addTimeIntervalFormGroup(exceptionalOpening)">{{'establishment.hours.add' | translate }}</button>
        </div>
      </div>
      <div class="add-remove-buttons-container need-top-space">
        <button class="valid-button" type="button" [disabled]="allDisabled"
                (click)="establishmentFormGroup.addExceptionalOpening()">{{ 'establishment.exceptional-opening.add' |translate }}</button>
      </div>
    </div>

    <div class="form-group" formArrayName="exceptionalClosing">
      <h4>{{ 'establishment.exceptional-closing.title' | translate }}</h4>
      <div class="form-group" *ngFor="let exceptionalClosing of establishmentFormGroup.exceptionClosingsControls; let i = index" [formGroupName]="i">
        <div class="exceptional-date-container">
          <label class="form-label" for="exceptional-closing-date-{{i}}">Date</label>
          <input class="form-input" type="date" name="exceptional-closing-date-{{i}}" id="exceptional-closing-date-{{i}}" formControlName="date">
          <button class="danger-button remove-button" type="button" (click)="establishmentFormGroup.removeExceptionalClosing(i)"
                  *ngIf="establishmentFormGroup.exceptionalClosings.length > 0"
                  [disabled]="allDisabled">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="time-intervals-containers need-top-space" formArrayName="timeIntervals">
          <div app-time-interval-form
               class="need-top-space"
               [prefix]="'exceptional-closing'"
               [index]="j" [timeIntervalFormGroup]="timeInterval"
               (remove)="establishmentFormGroup.removeTimeIntervalForm(exceptionalClosing, j)"
               [disableRemoveButton]="allDisabled"
               *ngFor="let timeInterval of establishmentFormGroup.getTimeIntervalFormControls(exceptionalClosing); let j =index">
          </div>
        </div>
        <div class="add-remove-buttons-containe need-top-space">
          <button class="valid-button" type="button" [disabled]="allDisabled"
                  (click)="establishmentFormGroup.addTimeIntervalFormGroup(exceptionalClosing)">{{'establishment.hours.add' | translate }}</button>
        </div>
      </div>
      <div class="add-remove-buttons-container need-top-space">
        <button class="valid-button" type="button" [disabled]="allDisabled"
                (click)="establishmentFormGroup.addExceptionalClosing()">{{ 'establishment.exceptional-closing.add' |translate }}</button>
      </div>
    </div>
  </div>
</div>
