<div class="employee-information-container" *ngIf="employee != null">
  <div app-advanced-title class="floating-card"
       [title]="employee.firstName + ' ' + employee.lastName"
       [subtitle]="employee.email"
       [img]="'/assets/images/kraken.jpg'"
       (goBack)="goBack()"></div>
  <div app-employee-form-updater class="floating-card need-top-space"
       [employee]="employee"
       [allDisable]="!privilegeManagement.hasEmployeeUpdate()">
  </div>
  <div app-employee-working-hours-updater class="floating-card need-top-space"
       [employee]="employee"
       [allDisable]="!privilegeManagement.hasEmployeeUpdate()">
  </div>
  <div app-employee-role-updater class="floating-card need-top-space"
       *ngIf="privilegeManagement.hasEmployeeUpdateRole() && privilegeManagement.hasRoleRead()"
       [employee]="employee">
  </div>
  <div app-employee-establishment-assignation class="floating-card need-top-space"
       *ngIf="privilegeManagement.hasEmployeeAssign() && privilegeManagement.hasEstablishmentRead()"
       [employee]="employee">
  </div>
</div>

