.available-product-list, .chosen-product-list, .available-prestation-list, .chosen-prestation-list {
  height: 150px;

  overflow-x: hidden;
  overflow-y: auto;

  border: 1px solid var(--place-holder-text-color-2);
  padding: 0.5em;
}

.product-item, .prestation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.product-item-input, .prestation-item-input {
  flex: 1 auto;
}
