<form class="role-creator-form-container" [formGroup]="equipmentCreationForm" (ngSubmit)="onEquipmentCreation()">
  <div class="form-group-error role-creation-failed-container" *ngIf="creationFailed">
    <p>{{ 'equipment.creation.creation-failed' | translate}}</p>
  </div>

  <div app-equipment-form-content [equipmentFormGroup]="equipmentCreationForm">
  </div>

  <div class="form-submit-group need-top-space">
    <button type="submit" class="super-valid-button need-top-space" [disabled]="equipmentCreationForm.invalid">
      {{ 'equipment.creation.create' | translate }}
    </button>
  </div>
</form>

