
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --title-logo-size: 115px;

  --primary-h: 179;
  --primary-s: 74%;
  --primary-l: 45%;

  --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));

  --percent-dark: 15%;
  --primary-dark: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - var(--percent-dark)));

  --percent-light: 20%;
  --primary-light: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + var(--percent-light)));

  --percent-light-light: 30%;
  --primary-light-light: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + var(--percent-light-light)));

  --danger-color: hsl(5, var(--primary-s), var(--primary-l));
  --danger-color-light: hsl(0, var(--primary-s), calc(var(--primary-l) + var(--percent-light)));
  --danger-color-light-light: hsl(0, var(--primary-s), calc(var(--primary-l) + var(--percent-light-light)));

  --main-text-color: #000000;
  --secondary-text-color: #000000;
  --place-holder-text-color: #c9c7c7;
  --place-holder-text-color-light: #e5e5e5;

  --basic-clickable-color: #fff;
  --basic-clickable-hover-color: #fafafa;
  --basic-clickable-active-color: #eaeaea;

  --valid-button-background-color: var(--primary-light);
  --valid-button-hover-background-color: var(--primary-light-light);
  --valid-button-active-background-color: var(--primary);

  --danger-button-background-color: var(--danger-color);
  --danger-button-hover-background-color: var(--primary-light-light);
  --danger-button-active-background-color: var(--primary);

  --company-management-search-bar-height: 60px;
  --company-management-container-transition: 0.5s;
  --company-management-information-header-height: 60px;
  --company-management-card-margin: 0.8em 0.6em;
  --company-management-car-padding: 1em;
  --company-management-floating-button-size: 45px;

  --floating-card-padding: 1em;

  --common-container-padding: 0.8em 0.6em;

  font-family: 'Sarala', sans-serif;
}

body, html {
  height: 100vh;
}

main {
  position: fixed;
  display: block;
  height: 100%;
}

.basic-clickable {
  background: var(--basic-clickable-color);
  cursor: pointer;
}

.basic-clickable:hover {
  background: var(--basic-clickable-hover-color);
}

.basic-clickable:active {
  background: var(--basic-clickable-active-color);
}

.floating-button {
  border-radius: 100%;

  border: none;
  outline: none;

  background: var(--primary-dark);
  box-shadow: 0 0 10px var(--primary-light-light);

  transition: 0.3s;
  cursor: pointer;
}

.floating-button:hover {
  background: var(--primary);
  box-shadow: 0 0 20px var(--primary-light-light);
  transform: scale(1.2);
}

.floating-button:active {
  box-shadow: 0 0 30px var(--primary-light-light);
  transform: scale(1.1);
}

.floating-card {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 6px 0, rgba(0, 0, 0, 0.1) 0 0 2px 0;

  padding: var(--floating-card-padding);
}

.form-group {
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-top: 1px solid var(--place-holder-text-color-light);
}

.form-control {
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 0.7em;
}

.form-label {
  flex: 0 1;
  white-space: nowrap;
}

.form-input {
  flex: 1 0;

  padding: 0.5em;
}

.form-submit-group {
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid var(--place-holder-text-color-light);
}

.form-group-error {
  border: 2px solid var(--danger-color);
  border-radius: 0.3em;
  padding: 0.6em 0.4em;
  font-weight: bold;
  font-size: 1.2rem;

  color: var(--danger-color);
  background-color: var(--danger-color-light)
}

button {
  outline: none;
  border: none;

  font-weight: bold;
  color: white;
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.1) 0 0 6px 0, rgba(0, 0, 0, 0.1) 0 0 2px 0;
}

.super-valid-button {
  text-transform: uppercase;

  padding: 0.5em;

  border-radius: 17px;

  background-image: linear-gradient(to right, var(--primary), var(--primary-light), var(--primary));
  background-size: 200% auto;

  transition: 0.5s;
}

.super-valid-button:hover {
  background-position: right;
}

.super-valid-button:disabled {
  opacity: 0.3;
}

.valid-button, .danger-button {
  padding: 0.6em 0.4em;

  border-radius: 0.7em;

}

.valid-button {
  background: var(--valid-button-background-color);
}

.valid-button:hover {
  background: var(--valid-button-hover-background-color);
}

.valid-button:active {
  background: var(--valid-button-active-background-color);
}

.valid-button:disabled {
  opacity: 0.3;
}

.danger-button {
  background: var(--danger-color-light);
}

.danger-button:hover {
  background: var(--danger-color-light-light);
}

.danger-button:active {
  background: var(--danger-color);
}

.danger-button:disabled {
  opacity: 0.3;
}

.remove-button {
  font-size: 17px;
  padding: 0.8em 0.8em;
  border-radius: 0;
}

input[type=time] {
  text-align: center;
  border: none;
  font-size: 15px;
  padding: 0.7em 0.5em;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 6px 0, rgba(0, 0, 0, 0.1) 0 0 2px 0;
}

.need-top-space {
  margin-top: 1em;
}
