<form class="prestation-creator-form-container" [formGroup]="prestationUpdateForm" (ngSubmit)="onPrestationUpdate()">
  <div class="form-group-error prestation-creation-failed-container" *ngIf="updateFailed">
    <p>{{ 'prestation.update.update-failed' | translate}}</p>
  </div>

  <div app-prestation-form-content
       [prestationFormGroup]="prestationUpdateForm"
       [allDisabled]="allDisabled">
  </div>

  <div class="form-submit-group need-top-space">
    <button class="super-valid-button need-top-space" type="submit" [disabled]="prestationUpdateForm.invalid || allDisabled">
      {{ 'prestation.update.update' | translate}}
    </button>
  </div>
</form>
