.element-list-search-bar, .searching-list-element {
  position: absolute;

  width: 100%;

  top: 0;
  left: 0;
}

.element-list-search-bar {
  padding: 1em;
  z-index: 2;
}

.searching-list-element {
  height: 100%;
}
