<div app-select-create-information-container #container>
  <ng-template #selection>
    <div app-client-selection #clientSelection
         (clientSelected)="container.displayInformation($event)"
         (wantCreateClient)="container.displayCreation()">
    </div>
  </ng-template>
  <ng-template #information>
    <div app-client-information
         [clientId]="container.elementId"
         (wantGoBack)="container.resetInitialPos()"
         (clientHasBeenUpdated)="clientSelection.reload()">
    </div>
  </ng-template>
  <ng-template #creation>
    <div app-client-creation
         (wantGoBack)="container.resetInitialPos()"
         (clientHasBeenCreated)="clientSelection.reload()">
    </div>
  </ng-template>
</div>
