<div class="advanced-title-card-container">
  <div class="back-arrow basic-clickable" (click)="goBack.emit(true)" *ngIf="displayBackArrow">
    <i class="fa-solid fa-arrow-left"></i>
  </div>
  <div class="title-container">
    <h3 class="advanced-title-card-title">{{title}}</h3>
    <h4 class="advanced-title-card-sub-title" *ngIf="subtitle != null && subtitle.length > 0">{{subtitle}}</h4>
  </div>
  <div class="img-container">
    <img class="img" [src]="img" alt="Advanced title image">
  </div>
</div>
