<div app-searching-list class="employee-searching-list-container"
     [allElements]="allEmployees"
     searchBarPlaceHolder="{{ 'employee.search' | translate }}"
     [listPaddingHeight]="'var(--company-management-floating-button-size)'"
     [paneInfoTransformer]="employeePaneInfoTransformer"
     (elementSelected)="navigateToEmployeeInformation($event)"
     (searchFilter)="filterEmployee($event)"
>
</div>
<button class="floating-button create-employee-button" *ngIf="privilegeManagement.hasEmployeeCreate()" (click)="navigateToCreateEmployee()">
  <i class="fa-solid fa-plus"></i>
</button>
