<div [formGroup]="roleFormGroup" *ngIf="roleFormGroup">
  <div app-basic-input-form
       [group]="roleFormGroup"
       [controlName]="'name'"
       label="{{ 'role.name' | translate}}"
       [labelFor]="'privilege-name'"
       [inputType]="'text'"
       placeHolder="{{ 'role.name' | translate}}">
  </div>
  <div app-basic-input-form
       [group]="roleFormGroup"
       [controlName]="'description'"
       label="{{ 'role.description' | translate}}"
       [labelFor]="'privilege-description'"
       [inputType]="'text'"
       placeHolder="{{ 'role.description' | translate}}">
  </div>
  <div class="form-group" formGroupName="companyManagementScope">
    <div app-privilege-table
         [scopeForm]="roleFormGroup.companyManagementScopeFormGroup">
    </div>
    <div class="form-group"
         *ngFor="let scopeChildForm of roleFormGroup.companyManagementScopeFormGroup.scopeChildren">
      <div app-privilege-table
           [scopeForm]="scopeChildForm">
      </div>
    </div>
  </div>
</div>
