<div [formGroup]="roleFormGroup" *ngIf="roleFormGroup">
  <div app-basic-input-form
       [group]="roleFormGroup"
       [controlName]="'name'"
       label="{{ 'role.name' | translate}}"
       [labelFor]="'privilege-name'"
       [inputType]="'text'"
       placeHolder="{{ 'role.name' | translate}}">
  </div>
  <div app-basic-input-form
       [group]="roleFormGroup"
       [controlName]="'description'"
       label="{{ 'role.description' | translate}}"
       [labelFor]="'privilege-description'"
       [inputType]="'text'"
       placeHolder="{{ 'role.description' | translate}}">
  </div>
  <div class="form-group" formGroupName="companyManagementScope">
    <h3>{{ roleFormGroup.companyManagementScopeFormGroup._scopeName | translate }}</h3>
    <p>{{ roleFormGroup.companyManagementScopeFormGroup._scopeDescription | translate }}</p>
    <div class="for" *ngFor="let companyPrivilege of roleFormGroup.companyManagementScopeFormGroup._scopePrivileges">
      <div app-privilege-input-line
           [group]="roleFormGroup.companyManagementScopeFormGroup"
           [privilege]="companyPrivilege">
      </div>
    </div>
    <div class="form-group" *ngFor="let scopeChildForm of roleFormGroup.companyManagementScopeFormGroup.scopeChildren"
         [formGroup]="scopeChildForm">
      <h4>{{ scopeChildForm._scopeName | translate }}</h4>
      <p>{{ scopeChildForm._scopeDescription | translate }}</p>
      <div *ngFor="let scopePrivilege of scopeChildForm._scopePrivileges">
        <div app-privilege-input-line
             [group]="scopeChildForm"
             [privilege]="scopePrivilege">
        </div>
      </div>
    </div>
  </div>
</div>
