.square-img-container {
  position: relative;
  height: 0;

  overflow: hidden;
}

.square-img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: auto;
}

.round-img {
  border-radius: 100%;
}
