<div [formGroup]="roleFormGroup" *ngIf="roleFormGroup">
  <div app-basic-input-form
       [group]="roleFormGroup"
       [controlName]="'name'"
       label="{{ 'role.name' | translate}}"
       [labelFor]="'privilege-name'"
       [inputType]="'text'"
       placeHolder="{{ 'role.name' | translate}}">
  </div>
  <div app-basic-input-form
       [group]="roleFormGroup"
       [controlName]="'description'"
       label="{{ 'role.description' | translate}}"
       [labelFor]="'privilege-description'"
       [inputType]="'text'"
       placeHolder="{{ 'role.description' | translate}}">
  </div>
  <div app-details-summary class="company-management-privileges-content need-top-space">
    <ng-template #summary>
      <h2>{{ 'privilege.company.management-title' | translate }}</h2>
    </ng-template>
    <ng-template #details
                 *ngIf="roleFormGroup.companyManagementScopeFormGroup != null">
      <div app-privilege-table
           class="form-group"
           [scopeForm]="roleFormGroup.companyManagementScopeFormGroup">
      </div>
      <ul>
        <li class="form-group"
            *ngFor="let scopeChildForm of roleFormGroup.companyManagementScopeFormGroup.scopeChildren">
          <div app-privilege-table
               [scopeForm]="scopeChildForm">
          </div>
        </li>
      </ul>
    </ng-template>
  </div>
  <div app-details-summary class="intern-establishment-management-privileges-content need-top-space"
       *ngIf="roleFormGroup.allEstablishmentIds.length > 0">
    <ng-template #summary>
      <h2>{{ 'privilege.establishment.management-title' | translate }}</h2>
    </ng-template>
    <ng-template #details>
      <div>
        <div app-details-summary
             class="need-top-space"
             *ngFor="let establishmentId of roleFormGroup.allEstablishmentIds">
          <ng-template #summary>
            <h4>{{roleFormGroup.getEstablishmentRoleForm(establishmentId).establishment.name}}</h4>
          </ng-template>
          <ng-template #details>
            <div app-privilege-table
                 class="form-group"
                 [scopeForm]="roleFormGroup.getEstablishmentRoleForm(establishmentId)">
            </div>
            <ul>
              <li class="form-group"
                  *ngFor="let scopeChildForm of roleFormGroup.getEstablishmentRoleForm(establishmentId).scopeChildren">
                <div app-privilege-table
                     [scopeForm]="scopeChildForm">
                </div>
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </div>
</div>
