<div app-searching-list class="product-searching-list-container"
     [allElements]="allProducts"
     searchBarPlaceHolder="{{ 'product.search' | translate }}"
     [listPaddingHeight]="'var(--company-management-search-bar-height)'"
     [paneInfoTransformer]="saleablePaneInfoTransformer"
     (elementSelected)="selectProduct($event)"
     (searchFilter)="filterProduct($event)"
>
</div>
<button class="floating-button create-product-button"
        *ngIf="privilegeManagement.hasSaleableCreate()"
        (click)="createProduct()">
  <i class="fa-solid fa-plus"></i>
</button>
