.celestial-title {
  position: absolute;

  font-size: var(--title-logo-size);
  font-weight: bold;
  color: white;

  top: 5%;
  right: 50%;
}


.diary-title {
  position: absolute;

  font-size: var(--title-logo-size);
  font-weight: bold;
  color: var(--primary-light);

  top: 5%;
  left: 50%;
}

.login-container {
  display: grid;
  height: 100%;
  width: 100%;

  grid-template: 1fr / repeat(2, 1fr);
}

.login-img-container, .login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-img-container {
  background-image: linear-gradient(var(--primary), #fff);
}

.login-img-svg {
  width: 63%;
  height: auto;
}


.login-form {
  padding: 2%;

  width: 57%;
  height: 60%;

  display: block;
}

.form-container {
  display: block;
  text-align: center;
}

.login-logo-container {
  padding: 3%;
}

.login-logo {
  width: 24%;
  height: auto;
}

.login-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 60px;
  color: var(--main-text-color);
  margin-top: 3%;
}

.authentication-fail {
  margin: 4% 0;
}

.login-field {
  position: relative;
  margin-top: 3%;

  border-bottom: 2px solid var(--place-holder-text-color);
}

.login-input {
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: none;
  outline: none;

  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;

  margin: 0;
  padding-left: 10px;
}

.login-input::placeholder {
  color: var(--place-holder-text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.login-input:focus {
  outline: none;
}

.forgotten-password-container {
  margin-top: 3%;

  display: flex;
  justify-content: flex-end;
  justify-items: center;
}

.forgotten-password {
  color: var(--place-holder-text-color);
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.4s;
}

.forgotten-password:hover {
  color: var(--primary);
  cursor: pointer;
}

.login-button {
  margin-top: 6%;

  width: 100%;

  font-size: 27px;
}
